.cart__item {
    margin-bottom: 27px;
}

.cart {
    width: 867px;
    padding-top: 10px;
}

.cart__header {
    font-size: 36px;
    margin-bottom: 13px;
}

.cart__counter {
    font-size: 16px;
    color: #C8C8C8;
    vertical-align: top;
    margin-left: 3px;
}

.cart__itemWrapper {
    position: relative;
}

@media all and (max-width: 600px) {
    .cart__header {
        display: none;
    }

    .cart {
        width: auto;
        padding-top: 0;
    }

    .cart__itemWrapper {
        background-color: white;
        margin-bottom: 8px;
    }
}
