.main {
    padding-bottom: 33px;
    height: 100%;
    flex: 1;
}

.main__aside {

}

.main__content {
    width: 918px;

}

.main__flex-inner {
    display: flex;
    justify-content: space-between;
}

.main_listing .main__flex-inner {
    flex-direction: row-reverse;
}