.input-range__slider {
    cursor: pointer;
    margin-bottom: -10px;
    width: 14px;
    height: 14px;
    border: 1px solid #FD0000;
    background-color: white;
    border-radius: unset;
    top: calc(50% + 1px);
}

.input-range__track {
    height: 1px;
}

.input-range__track--active {
    background-color: #FD0000;
}

.input-range {
    width: 191px;
    margin-left: 20px;
}

.input-range__label {
    display: none;
}

.priceFilter {
    height: 40px;
    width: 205px;
    position: relative;
}

.priceFilter__min {
    position: absolute;
    left: 7px;
}

.priceFilter__max {
    position: absolute;
    right: -5px;
}