@import "./../_settings/_variables.css";

.bouquet {
    width: 287px;
    position: relative;

}

.bouquet__cartButton:disabled {
    cursor: default;
    opacity: 0.2;
}

.bouquet__image {
    width: 100%;
    height: 300px;
}

.bouquet__price-info {
    margin-top: 6px;
    line-height: 49px;
    display: flex;
    align-items: baseline;
}

.bouquet__price {
    font-size: 24px;
    margin-right: 14px;
}

.bouquet__sale {
    position: relative;
    color: #8C8C8C;
    text-decoration: line-through;
}

.bouquet__saleMark {
    position: absolute;
    left: calc(100% + 10px);
    top: -1px;
    bottom: 0;
    margin: auto 0;
    width: 52px;
    height: 29px;
    border: 1px solid #FD0000;
    line-height: 31px;
    text-align: center;
    color: black;
}

.bouquet__salePercent {

}

.bouquet__footer {
    line-height: 50px;
    display: flex;
    align-items: baseline;
    position: relative;
    z-index: 2;

}

.bouquet__cartButton {
    position: relative;
    top: -6px;
    margin-left: 113px;
    display: flex;
    align-items: center;
    height: 20px;
    cursor: pointer;
    z-index: 3;
    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: 0;*/
    border: none;
    background-color: transparent;
    outline: none;
}

.bouquet__cart {
    font-size: 19px;
    color: gray;
}

.bouquet__cart:before {
    color: #8C8C8C;
}

.bouquet__plus {
    font-size: 9px;
    margin-right: 6px;
}

.bouquet__plus:before {
    color: #8C8C8C;
}


.bouquet_type_cart {
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.bouquet_type_cart .bouquet__image {
    width: 130px;
    height: 130px;
    margin-right: 21px;
}

.bouquet_type_cart .bouquet__price {
    font-size: 16px;
}

.bouquet_type_cart .bouquet__info {
    padding-top: 23px;
    box-sizing: border-box;
}

.bouquet_type_cart .bouquet__price {
    margin-right: 20px;
}

.bouquet_type_cart .bouquet__price-info {
    margin: 0;
}

.bouquet_type_cart .bouquet__main {
    display: flex;
}

.bouquet__counter {
    position: relative;
    width: 78px;
    margin-right: 80px;
    text-align: center;
    display: inline-block;
}

.bouquet__sumPrice {
    display: inline-block;
    font-size: 24px;
    width: 118px;
}

.bouquet__counterButton {
    font-size: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    vertical-align: middle;
}

.bouquet__counterButton:before {
    vertical-align: middle;
    cursor: pointer;
}

.bouquet__counterButton_left {
    left: 0;
}

.bouquet__counterButton_right {
    right: 0;
}

.bouquet__controls {
    display: flex;
    align-items: center;
    position: absolute;
    right: 12px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.bouquet__delete {
    font-size: 11px;
    display: inline-block;
    height: 11px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    cursor: pointer;

}

.bouquet__link {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.bouquet__counterButton_active:before {
    color: #c8c8c8
}

@media all and (max-width: 600px) {
    .bouquet {
        max-width: 320px;
        width: 100%;
        margin: auto;
        height: 170px;
        display: flex;
        align-content: center;
        overflow: hidden;
    }

    .bouquet__cartButton {
        bottom: 0;
    }

    .bouquet__info {
        box-sizing: border-box;
        padding: 21px 0 0 30px;
        width: 197px;
    }

    .bouquet__footer {
        position: absolute;
        bottom: 0;
        left: 83px;
        height: auto;
    }

    .bouquet__plus {
        display: none;
    }

    .bouquet__cartButton {
        margin: 0;
        height: 40px;
        width: 40px;
        border: 1px solid var(--bg-color);
        padding: 0;
        display: flex;
        justify-content: center;
        vertical-align: center;
        top: unset;
        bottom: -1px;

    }

    .bouquet__footerLink {
        display: none;
    }

    .bouquet__main {
        display: flex;
    }

    .bouquet__image {
        width: 120px;
        height: 120px;
        border-right: var(--bg-color);
    }

    .bouquet__link {
    }

    .bouquet__image-wrapper {
        width: 123px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid var(--bg-color);
    }

    .bouquet__main {
        width: 100%;
    }

    .bouquet__header {
        color: #8C8C8C;
    }

    .bouquet__price-info {
        flex-direction: column;
    }

    .bouquet__price {
        line-height: 2.2;
        font-size: 18px;
    }

    .bouquet__sale {
        line-height: 15px;
        padding-bottom: 13px;
    }

    .bouquet__saleMark {
        width: 45px;
        height: 25px;
        line-height: 27px;
        margin-bottom: -1px;
    }

    .bouquet__mobileNotification {
        animation: showNotification 4s;

        position: absolute;
        bottom: 0;
        height: 50px;
        line-height: 50px;
        width: 100%;
        text-align: center;
        background-color: white;
        z-index: 121212;
        border-top: 1px solid var(--bg-color);
    }

    .bouquet__sumPrice,
    .bouquet__delete {
        display: none;
    }

    .bouquet__controls {
        height: auto;
        top: unset;
        bottom: 24px;
    }

    .bouquet_type_cart {
        height: 200px;
    }

    .bouquet_type_cart .bouquet__price {
        font-size: 18px;
    }

    .bouquet_type_cart .bouquet__header {
        line-height: 1.1;
    }

    .bouquet_type_cart .bouquet__info {
        padding-top: 20px;
    }

    .bouquet_type_cart .bouquet__sale {
        padding-bottom: 0;
    }

    .bouquet_type_cart .bouquet__saleMark {
        margin: auto 0;
    }

    .bouquet_type_cart .bouquet__price-info {
        margin-bottom: 11px;
    }
}

@keyframes showNotification {
    from {
        bottom: -50px
    }
    25% {
        bottom: 0
    }

    75% {
        bottom: 0;
    }
    to {
        bottom: -50px;
    }
}
