.asideBanners {
    box-sizing: border-box;
    vertical-align: top;

}

.asideBanners__inner {
    display: flex;
    flex-direction: column;

}

.asideBanners__banner:not(:last-child) {
    margin-bottom: 30px;
}
