@font-face {
    font-family: 'Proxima Nova Black';
    src: url('./black.eot');
    src: local('☺'), url('./black.woff') format('woff'), url('./black.ttf') format('truetype'), url('./black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fonts__proximaNovaBlack {
    font-family: "Proxima Nova Black", Arial, sans-serif;
}
