.bouquet {
    width: 287px;

}

.bouquet__cartButton:disabled {
    cursor: default;
    opacity: 0.2;
}

.bouquet__image {
    width: 100%;
    height: 300px;
}

.bouquet__price-info {
    margin-top: 6px;
    line-height: 49px;
    display: flex;
    align-items: baseline;
}

.bouquet__price {
    font-size: 24px;
    margin-right: 14px;
}

.bouquet__sale {
    position: relative;
    color: #8C8C8C;
}

.bouquet__salePercent {
    position: absolute;
    left: calc(100% + 10px);
    top: -1px;
    bottom: 0;
    margin: auto 0;
    width: 67px;
    height: 35px;
    background-image: url("./img/sale.svg");
    line-height: 35px;
    text-align: center;
    color: black;
}

.bouquet__saleInner {
    margin-right: -7px;
}

.bouquet__footer {
    line-height: 50px;
    display: flex;
    align-items: baseline;

}

.bouquet__cartButton {
    position: relative;
    top: -6px;
    margin-left: 119px;
    display: flex;
    align-items: center;
    height: 20px;
    cursor: pointer;
}

.bouquet__cart {
    font-size: 19px;
    color: gray;
}

.bouquet__cart:before {
    color: #8C8C8C;
}

.bouquet__plus {
    font-size: 9px;
    margin-right: 6px;
}

.bouquet__plus:before {
    color: #8C8C8C;
}

.bouquet__cartButton {
    border: none;
    background-color: transparent;
    outline: none;
}

.bouquet_type_cart {
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.bouquet_type_cart .bouquet__image {
    width: 130px;
    height: 130px;
    margin-right: 21px;
}

.bouquet_type_cart .bouquet__price {
    font-size: 16px;
}

.bouquet_type_cart .bouquet__info {
    padding-top: 23px;
    box-sizing: border-box;
}

.bouquet_type_cart .bouquet__price {
    margin-right: 20px;
}

.bouquet_type_cart .bouquet__price-info {
    margin: 0;
}

.bouquet_type_cart .bouquet__main {
    display: flex;
}

.bouquet__counter {
    position: relative;
    width: 78px;
    margin-right: 80px;
    text-align: center;
    display: inline-block;
}

.bouquet__sumPrice {
    display: inline-block;
    font-size: 24px;
    width: 118px;
}

.bouquet__counterButton {
    font-size: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    vertical-align: middle;
}

.bouquet__counterButton:before {
    vertical-align: middle;
    cursor: pointer;
}

.bouquet__counterButton_left {
    left: 0;
}

.bouquet__counterButton_right {
    right: 0;
}

.bouquet__controls {
    display: flex;
    align-items: center;
    position: absolute;
    right: 12px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.bouquet__delete {
    font-size: 11px;
    display: inline-block;
    height: 11px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    cursor: pointer;

}