.flower__image {
    height: 555px;
    width: 555px;
    margin-top: 16px;
    margin-right: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}

.flower__wrapper {
    padding-top: 20px;
}

.flower {
    display: flex;
    position: relative;
}

.flower__header {
    width: 100%;
    margin: 0 0 10px;
    padding: 0;
    font-weight: normal;
    line-height: 45px;
    font-size: 36px;
}

.flower__vendorCode {
    margin-right: 39px;
    line-height: 19px;
    color: #8C8C8C;

}

.flower__vendorCode span {
    margin-left: 12px;
    color: black;

}

.flower__mark {
    margin-right: 40px;
    position: relative;
    line-height: 19px;
    align-items: center;
    color: #8C8C8C;
}

.flower__reviewsLink {
    line-height: 19px;
}

.flower__markRound {
    width: 11px;
    height: 11px;
    display: inline-block;
    border-radius: 10px;
    background-color: #E6E6E6;
}

.flower__markRound_active {
    background-color: #79BA38;
}

.flower__control {
    width: 545px;
}

.flower__info {
    width: 100%;
    min-width: 359px;
    margin-bottom: 65px;
    display: flex;
    flex-wrap: wrap;
}

.flower__price {
    line-height: 35px;
    margin-bottom: 18px;
}

.flower__actualPrice {
    font-size: 24px;
    margin-right: 30px;
}

.flower__sale {
    display: inline-block;
}

.flower__salePrice {
    color: #8C8C8C;
    text-decoration: line-through;
    margin-right: 14px;
}

.flower__salePercents {
    display: inline-block;
    width: 67px;
    height: 35px;
    text-align: center;
    background-image: url("./img/sale.svg");
}

.flower__salePercents span {
    position: relative;
    right: -5px;
}

.flower__click-buy {
    color: #FD0000;
    text-decoration: none;
    background: white;
    border: none;
    outline: none;
    font-size: inherit;
}

.flower__inCart {
    display: inline-block;
    margin-right: 34px;
}

.flower__desc {
    width: 495px;
    line-height: 30px;
    position: absolute;
    bottom: -89px;
    right: 76px;
    color: #8c8c8c;
}
