.banner {
    width: 100%;
    height: 529px;
    background-color: #8c8c8c;
}

.banner__header {
    font-size: 80px;
    width: 350px;
    line-height: 87px;
    margin-bottom: 28px;
}

.banner__container {
    display: flex;
    align-items: center;
}