@import "../_settings/_variables.css";

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
}

.container_mobile {
    margin: 0;
    width: unset;
    max-width: unset;
}

@media all and (max-width: 1100px ) and (min-width: 601px) {
    .container {
        height: unset;
        max-width: unset;
        width: auto;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .container_mobile {
        padding: 0;
    }
}

@media all and (max-width: 600px ) {
    .container {
        height: unset;
        max-width: var(--mobile-container);
    }

    .container_mobile {
        width: 100%;
        margin: auto;
    }
}
