.composition__header {
    font-size: 24px;
    margin-bottom: 9px;
}

.composition__link {
    text-decoration: none;
    display: inline-block;
    color: inherit;
    background-image: url("../flower/img/line.png");
    background-position: bottom left;
    background-repeat: repeat-x;
}

.composition__link:hover {
    position: relative;
    z-index: 10000111;
    border-bottom: unset;
    color: #FD0000;
    background: unset;
}

.composition__link:hover ~ .composition__desc {
    display: block;
}

.composition__link span {
    color: #8C8C8C;
}

.composition__table {
    padding: 0;
    list-style: none;
    border-spacing: 53px 0;
    margin: 0 -53px;
}


.composition {
    padding-top: 69px;
}

.composition__desc {
    display: none;
    width: 668px;
    height: 330px;
    position: absolute;
    z-index: 10000;
    top: -42px;
    left: -55px;
}

.composition__column {
    width: auto;
    vertical-align: top;
    margin: 1em 0.5em;
    text-align: left;
    padding-bottom: 10px;
    line-height: 1.81em;
    position: relative;
}

.composition__info-inner {
    width: 100%;
    display: flex;

}

.composition__info {
    width: 50%;
    background-color: white;
    padding: 73px 38px 43px 55px;
    box-sizing: border-box;
}

.composition__img {
    width: 50%;
}

.composition__img img {
    width: 100%;
    height: 100%;
}


.composition__desc-text {
    line-height: 2.1875em;
}

.composition__desc-header {
    font-weight: normal;
}

.composition__column:nth-child(3) .composition__info-inner {
    flex-direction: row-reverse;
}

.composition__column:nth-child(3) .composition__desc {
    top: -42px;
    left: unset;
    right: -110px;
}

@media all and (max-width: 600px) {
    .composition__header {
        display: none;
    }

    .composition__table {
        display: block;
        margin: 0;
    }

    .composition__table,
    .composition__table tbody,
    .composition__table tr,
    .composition__table td {
        display: block;
    }

    .composition__table td {
        margin: 0;
    }

    .composition {
        padding-top: 0;
    }

    .composition__desc {
        display: block;
        position: static;
        height: auto;
        width: auto;
    }

    .composition__desc-text {
        font-size: 16px;
        line-height: 120%;
    }

    .composition__info-inner {
        flex-direction: column-reverse;
    }

    .composition__img {
        width: 100%;
        height: 58.76vw;
    }

    .composition__column:nth-child(3) .composition__info-inner {
        flex-direction: column-reverse;
    }

    .composition__info {
        width: auto;
        padding: 0;
    }

    .composition__link {
        display: none;
    }

    .composition__link_mobile {
        display: block;
        background-image: unset;
    }

    span.composition__linkText {
        color: black;
    }

    .composition__column {
        padding-bottom: 0;
    }

    .composition__info {
        padding: 25px 0;
    }

}
