.logo {
    line-height: 35px;
    display: flex;
    align-items: center;
}

.logo__text {
    margin-left: 11px;
}

@media all and ( max-width: 600px) {
    .logo__text {
        display: none;
    }

    .logo__wrapper {
        height: 100%;
        width: 58px;
        /*width: 48px;*/
    }

    .logo {
        height: 100%;

    }

    .logo__backButton {
        width: 100%;
        height: 100%;
        background-color: white;
        border: unset;
        outline: none;
        padding-right: 32px;
        text-align: left;
        padding-left: 10px;
    }

    .logo__backButtonImg {
        position: relative;
        top: 2px;
    }
}
