.listingSidebar {
    width: 270px;
    height: 100%;
    display: inline-block;
    position: relative;
}

.listingSidebar__mobileButton {
    display: none;
}

.listingSidebar__aside {
    margin-top: 74px;
}

.listingSidebar__sticky {
    display: none;
}

@media all and (max-width: 1100px) and (min-width: 601px) {
    .listingSidebar__container {
        padding: 0;
    }

    .listingSidebar {
        width: 254px;
    }
}

@media all and (max-width: 600px) {
    .listingSidebar__sticky {
        display: block;
    }

    .listingSidebar {
        z-index: 999999;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
    }

    .listingSidebar__aside {
        display: none;
    }

    .listingSidebar__mobileButton {
        display: block;
        /*position: sticky;*/
        /*bottom: 55px;*/
        height: 46px;
        float: right;
        width: 140px;
        /*margin-left: auto;*/
        /*margin-top: -46px;*/

        position: relative;
        z-index: 2323423;
    }

    .listingSidebar__sticky {
        position: fixed;
        bottom: 55px;
        width: 100vw;
        left: 0;
        right: 0;
    }

    .listingSidebar__container {
        margin: 0 auto;
    }
}
