.input-range__slider {
    cursor: pointer;
    margin-bottom: -10px;
    width: 14px;
    height: 14px;
    border: 1px solid #FD0000;
    background-color: white;
    border-radius: unset;
    top: calc(50% + 1px);
}

.input-range__track {
    height: 1px;
}

.input-range__track--active {
    background-color: #FD0000;
}

.input-range {
    width: 191px;
    margin-left: 20px;
}

.input-range__label--max,
.input-range__label--min {
    display: none;
}

.input-range__label--value {
    top: 0.7em;
}

.input-range__slider-container:first-of-type .input-range__label-container {
    margin-right: 33px;
    text-align: right;
}

.input-range__slider-container:nth-of-type(2) .input-range__label-container {
    margin-left: 60px;
    text-align: left;
}

.input-range__label-container {
    font-size: inherit;
    font-family: inherit;
    width: 60px;
    display: inline-block;
}

.input-range__label {
    font-family: inherit;
    font-size: inherit;
    color: black;
}

.priceFilter {
    height: 40px;
    width: 205px;
    position: relative;
}

.priceFilter__min {
    position: absolute;
    left: 7px;
}

.priceFilter__max {
    position: absolute;
    right: -5px;
}