.header {
    height: 88px;
}

.header__container {
    display: flex;
    align-items: center;
    position: relative;

}

.header__catalogButton {
    position: relative;
    margin-left: 30px;
}

.header__telephoneContact > a {
    text-decoration: none;
    color: inherit;
    margin-right: 2px;
}

.header__telephoneContact {
    margin-left: 76px;
}

.header__callPopupLink {
    margin-left: 27px;
    cursor: pointer;
    color: #5887BB;
}

.header__userNav {
    position: absolute;
    right: 0;
}

.header__search {
    position: absolute;
    right: 236px;
    width: 151px;
}

.header__work-schedule {
    color: #8C8C8C;
}