@import "./../_settings/_variables.css";

.header {
    height: 88px;
}

.header__container {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;

}

.header__catalogButton {
    position: relative;
    margin-left: 30px;
}

.header__telephoneContact > a {
    text-decoration: none;
    color: inherit;
    margin-right: 2px;
}

.header__telephoneContact {
    margin-left: 76px;
}

.header__callPopupLink {
    margin-left: 27px;
    cursor: pointer;
    color: #5887BB;
}

.header__userNav {
    position: absolute;
    right: 0;
}

.header__search {
    position: absolute;
    right: 236px;
    width: 151px;
}

.slider__header {
    width: 500px;
}

.header__work-schedule {
    color: #8C8C8C;
}

@media all and (max-width: 600px ) {
    .header {
        height: 55px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 222;
        border: 1px solid var(--bg-color);
    }

    .header__container {
        background-color: white;
    }

    .header {
        background-color: white;
    }

    .header__telephoneContact {
        display: none;
    }

    .header__search {
        display: none;
    }

    .header__userNav .userNav__userIco {
        display: none;
    }

    .header__catalogButton {
        margin-left: 24px;
        width: 59px;
        line-height: 55px;
        text-align: center;
        border-left: 1px solid var(--bg-color);
        border-right: 1px solid var(--bg-color);
    }

    .slider__header {
        width: 100%;
        line-height: 0.9em;
    }

    .slider__inner {
        padding-top: 175px;
    }

    .slider__link {
        width: 169px;
        padding: 0 20px;
    }

    .slider__dots {
        width: auto;
        padding: 0;
    }
}
