.partners {
    height: 185px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partners__container {
    display: flex;
    justify-content: space-between;
    height: auto;
}

.partners__logo {
    position: relative;
    height: auto;
}

.partners__verizon {
    top: -5px;
}

.partners__citibank {
    top: -11px;
}

.partners__worldplay {
    top: 2px;
}

.partners__sandisk {
    top: -5px;
}

@media all and (max-width: 600px) {
    .partners {
        position: relative;
    }

    .partners {
        height: 106px;
        padding-top: 20px;
        padding-bottom: 17px;
    }

    .partners .slick-slider {
        height: 100%;
        width: 100%;
    }

    .partners .slick-list {
        height: 100%;
    }

    .partners__logo {
        height: 100%;
    }

    .partners .slick-slide div {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .partners__dots {
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .partners__dots .slider__dot {
        height: 100%;
        width: 54px;
        background-color: #DCDCDC;
    }

    .partners__dots .slider__dot div {
        height: 100%;
        background-color: #FD0000;
    }
}
