.checkbox__true {
    display: none;
}

.checkbox__box {
    display: block;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 1px solid #79ba38;
}

.checkbox__true:checked + .checkbox__box {
    background: url("./arrow.svg") no-repeat center center;
    background-size: 15px 15px;
}

.checkbox {
    width: 15px;
    height: 15px;
    display: inline-block;
    cursor: pointer;
}