.checkbox__true {
    display: none;
}

.checkbox__box {
    display: block;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 1px solid #E6E6E6;
}

.checkbox__true:checked + .checkbox__box {
    background: url("./arrow.svg") no-repeat center center;
    background-size: 15px 15px;
}

.checkbox {
    width: 15px;
    height: 15px;
    display: inline-block;
    cursor: pointer;
}

.checkbox_red .checkbox__true:checked + .checkbox__box {
    border: 1px solid #FD0000;
    background: url("./arrowFilter.svg") no-repeat center 0;
    background-size: 9px 12px;
}