.additionalItems {
    padding-top: 39px;
}

.additionalItems__header {
    font-size: 36px;
    line-height: 1.25;
}

.additionalItems__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}