@import "../_settings/_variables.css";

.cartPrice__table {
    margin-left: auto;
    padding-right: 50px;
    box-sizing: border-box;
}

.cartPrice__header {
    text-align: right;
    color: #8C8C8C;
    padding: 11px 0;
    padding-right: 51px;
    font-weight: normal;

}

.cartPrice__price {
    width: 130px;
    font-size: 24px;
    color: #C8C8C8;
    padding-bottom: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    text-align: left;
    font-family: "Proxima Nova Bold", Arial, sans-serif;
}
.cartPrice__header span {
    color: #5866BB;
}

.cartPrice__tr {
    overflow: hidden;
    height: 14px;
    white-space: nowrap;
}

.cartPrice__header .cartPrice__separator {
    color: #E6E6E6;
}

.cartPrice__sum .cartPrice__price,
.cartPrice__sum .cartPrice__header {
    padding-top: 17px;
}

.cartPrice__sum .cartPrice__price {
    color: #FD0000;
    padding-bottom: 5px;
}

.cartPrice__sum .cartPrice__header {
    padding-bottom: 0;
}

.cartPrice__percents_mobile {
    display: none;
}

@media all and (max-width: 600px) {
    .cartPrice__header span {
        color: inherit;
    }

    .cartPrice__table {
        position: fixed;
        bottom: 105px;
        width: 100%;
        background-color: white;
        padding: 23px 0 18px;
        border-top: 1px solid var(--bg-color);
        z-index: 10;
    }

    .cartPrice__tr_delivery {
        display: none;
    }

    .cartPrice__price {
        font-family: "Proxima Nova Regular", Arial, sans-serif;
        font-size: 16px;
        padding-bottom: 0;
    }

    .cartPrice__header {
        padding-top: 0;
        padding-bottom: 0;
    }

    .cartPrice__tr {
        height: 17px;
        line-height: 17px;
    }

    .cartPrice__sum .cartPrice__price, .cartPrice__sum .cartPrice__header {
        padding-top: 8px;
    }

    .cartPrice__sum .cartPrice__price {
        font-family: "Proxima Nova Bold", Arial, sans-serif;
    }

    .cartPrice__percents {
        display: none;
    }

    .cartPrice__percents_mobile {
        display: inline-block;
        margin-left: 13px;
    }

    .cartPrice_checkout .cartPrice__tr_delivery {
        display: table-row;
    }

    .cartPrice_checkout {
        border-top: 10px solid var(--bg-color);
    }

    .cartPrice_checkout .cartPrice__salePrice {
        color: #79BA38;
    }
}
