@import "./../_settings/_variables.css";

.flower__image {
    height: 513px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.flower__mainImageWrapper {
    border: 1px solid var(--bg-color);
}

.flower__gallery {
    margin-top: 16px;
    margin-right: 80px;
    display: flex;
}

.flower__sideImagesWrapper {
    margin-right: 16px;
}

.flower__sideImage {
    height: 85px;
    width: 70px;
    border: 1px solid transparent;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.flower__sideImage_isOpen_true {
    border: 1px solid #FD0000;
}

.flower__sideImage:not(:last-child) {
    margin-bottom: 16px;
}

.flower__wrapper {
    padding-top: 20px;
    padding-bottom: 61px;
}

.flower {
    display: flex;
    position: relative;
}

.flower__header {
    width: 100%;
    margin: 0 0 10px;
    padding: 0;
    font-weight: normal;
    line-height: 45px;
    font-size: 36px;
}

.flower__vendorCode {
    margin-right: 39px;
    line-height: 19px;
    color: #8C8C8C;

}

.flower__vendorCode span {
    margin-left: 12px;
    color: black;

}

.flower__mark {
    margin-right: 40px;
    position: relative;
    line-height: 19px;
    align-items: center;
    color: #8C8C8C;
}

.flower__reviewsLink {
    line-height: 19px;
}

.flower__markRound {
    width: 11px;
    height: 11px;
    display: inline-block;
    border-radius: 10px;
    background-color: #E6E6E6;
}

.flower__markRound_active {
    background-color: #79BA38;
}

.flower__control {
    width: 545px;
}

.flower__info {
    width: 100%;
    min-width: 359px;
    margin-bottom: 65px;
    display: flex;
    flex-wrap: wrap;
}

.flower__price {
    line-height: 35px;
    margin-bottom: 18px;
}

.flower__actualPrice {
    font-size: 24px;
    margin-right: 30px;
}

.flower__sale {
    display: inline-block;
}

.flower__salePrice {
    color: #8C8C8C;
    position: relative;
    margin-right: 14px;
}

.flower__salePrice::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;

}

.flower__salePercents {
    display: inline-block;
    width: 50px;
    height: 29px;
    text-align: center;
    background-color: black;
    color: white;
    line-height: 29px;
}

.flower__click-buy {
    color: #FD0000;
    text-decoration: none;
    background: white;
    border: none;
    outline: none;
    font-size: inherit;
}

.flower__inCart {
    display: inline-block;
    margin-right: 34px;
}

.flower__desc {
    margin-top: 29px;
    width: 495px;
    line-height: 30px;
    color: #8c8c8c;
}

.flower__markIcon {
    height: 13px;
    width: 13px;
}

@media all and (max-width: 600px) {
    .flower__wrapper {
        padding-top: 0;
    }

    .flower__gallery {
        margin: 0;
        background-color: white;
        border-bottom: 9px solid var(--bg-color);
    }

    .flower__mainImageWrapper {
        margin: 0 auto;
        width: 100%;
        height: 104vw;
        border: unset;
    }

    .flower__image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    .flower {
        flex-direction: column;
    }

    .flower__sideImagesWrapper {
        display: none;
    }

    .flower__control {
        width: auto;
    }

    .flower__sticky {
        position: sticky;
        bottom: 105px;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: white;
        border-top: 1px solid var(--bg-color);
    }

    .flower__wrapper {
        background-color: white;
    }

    .flower__header {
        font-size: 16px;
        padding-bottom: 5px;
        line-height: 110%;
        font-family: "Proxima Nova Bold", Arial, sans-serif;
        margin-bottom: 0;
    }

    .flower__stickyBack {
        position: relative;
        z-index: 10;
        top: -30px;
        margin-bottom: -30px;
    }

    .flower__vendorCode,
    .flower__mark {
        display: inline-block;
    }

    .flower__vendorCode {
        margin-right: 14px;
    }

    .flower__price {
        margin-bottom: 7px;
    }

    .flower__vendorCode span {
        margin-left: 4px;
    }

    .flower__button {
        height: 40px;
    }

    .flower__button:not(:last-child) {
        border-bottom: 1px solid var(--bg-color);
        position: relative;
        bottom: -1px;
    }

    .flower__button:first-child {
        border-top: 1px solid var(--bg-color);
    }

    .flower__button .container {
        height: 100%;
        vertical-align: middle;
        line-height: 40px;
    }

    .flower__wrapper {
        padding-bottom: 0;
    }

    .flower__markIcon {
        height: 14px;
        width: 14px;
    }
}
