.footer {
    height: 256px;
    padding-bottom: 39px;
    padding-top: 40px;
    box-sizing: border-box;
    background-color: #F8F8F8;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__nav {
    display: flex;
}

.footer__other {
    padding-top: 3px;
    display: flex;
    flex-wrap: wrap;
    width: 240px;
}

.footer__navWrapper:not(:last-child) {
    margin-right: 78px;
}

.footer__paymentLogos {
    width: 143px;
    height: 64px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer__paymentLogo_paypal {
    width: 51px;
    height: 14px;
    margin-right: 23px;
}

.footer__paymentLogo {
    background-repeat: no-repeat;
}

.footer__paymentLogo_webmoney {
    width: 68px;
    height: 18px;
}

.footer__paymentLogo_visa {
    width: 34px;
    height: 10px;
    position: relative;
    bottom: -2px;
}

.footer__paymentLogo_yandex {
    width: 57px;
    height: 20px;
    margin-right: 17px;
}

.footer__copyrights {
    line-height: 30px;
    color: #8C8C8C;
    width: 236px;
}

.footer__contacts {
    width: 139px;
    padding-top: 8px;
}

.footer__telephone {
    display: block;
    line-height: 19px;
    margin-bottom: 8px;
    text-decoration: none;
    color: black;
}

.footer__address {
    font-style: normal;
    color: #8C8C8C;
    line-height: 30px;
    margin-top: 12px;
}

.footer__address span {
    color: black;
}

.footer__mail {
    line-height: 35px;
}

.footer__socials {
    margin-left: 30px;
    padding-top: 2px;
}

.footer__socialLink {
    text-decoration: none;
}

.footer__socialLogo {
    padding: 5px;
    font-size: 8px;
}

@media all and (max-width: 600px) {
    .footer {
        height: auto;
    }

    .footer__container {
        flex-direction: column-reverse;
    }

    .footer__nav {
        flex-direction: column;
    }

    .footer__copyrights {
        display: none;
    }
}
