.orderControl {
    padding: 0 0 50px;
    height: 403px;
}

.orderControl__content {
    display: flex;
    justify-content: space-between;
}

.orderControl__header {
    line-height: 25px;
    font-size: 36px;
    margin-bottom: 27px;
}

.orderControl__image {
    width: 668px;
    height: 321px;
    background-color: #C4C4C4;
}

.orderControl__list {
    width: 500px;
    height: 327px;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 60px;
    box-sizing: border-box;
}

.orderControl__li {
    line-height: 30px;
    position: relative;
}

.orderControl__li:not(:last-child) {
    margin-bottom: 30px;
}

.orderControl__li:before {
    content: '';
    position: absolute;
    left: -68px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 51px;
    height: 51px;
}

.orderControl__li:nth-child(1):before {
    background-image: url("./img/1.png");
}

.orderControl__li:nth-child(2):before {
    background-image: url("./img/2.png");
}

.orderControl__li:nth-child(3):before {
    background-image: url("./img/4.png");
}

.orderControl__li:nth-child(4):before {
    background-image: url("./img/3.png");
}