@import "./../_settings/_variables.css";
.showcase__items {
    display: flex;
    justify-content: flex-start;
    margin: -10px -10px -21px;
    /*margins are for gap between items*/
}

.showcase__animation-wrapper {
    margin: 10px 10px 21px;
    /*margins are for gap between items*/
}

.showcase__filters {
    display: inline-block;
    margin-left: 80px;
}

.showcase__filter {
    display: inline-block;
    margin-right: 30px;
    line-height: 19px;
    border: 1px solid #F5F5F5;
    color: #8C8C8C;
    padding: 8px 36px 9px 13px;
    font-size: 16px;
    cursor: pointer;
}

.showcase__filter span {
    color: #C8C8C8;
}

.showcase__header {
    font-size: 36px;
    height: 48px;
    margin-bottom: 6px;
    position: relative;
    top: -4px;
    display: flex;
    align-items: baseline;
}

.showcase__link {
    font-size: 16px;
    margin-left: 34px;
}
.showcase_listing .showcase__items {
    flex-wrap: wrap;
}

.showcase_listing .showcase__container {
    max-width: unset;
    width: 100%;
}

.showcase__counter {
    font-size: 16px;
    color: #C8C8C8;
    position: relative;
    top: -17px;
    right: -4px;
}

.showcase__counter_small {
    font-size: 12px;
    color: #8C8C8C;
    top: -8px;
    right: -6px;
}

.showcase__closeButton {
    font-size: 10px;
    position: relative;
    right: -12px;
    cursor: pointer;
}

.showcase_mini {
    padding-top: 24px;
    padding-bottom: 56px;
}

.showcase__link_mobile {
    display: none;
}

@media all and (max-width: 600px) {
    .showcase__header {
        display: none;
    }

    .showcase__items {
        flex-direction: column;
    }

    .showcase__animation-wrapper {
        margin: 0 0 9px;
        background-color: white;
        position: relative;
        overflow: hidden;
    }

    .showcase__items {
        margin: 0;
    }

    .showcase__container {
        max-width: unset;
        /*padding: 0 0 9px;*/
    }

    .showcase_mini {
        padding: 10px 0 0;
    }

    .showcase__link_mobile {
        display: block;
        line-height: 16px;
        width: var(--mobile-container);
        margin: 7px auto 0;
    }
}
