.callModalView__input {
    width: 100%;
    margin-bottom: 15px;
}

.callModalView__btn {
    width: 198px;
    margin-bottom: 15px;
}

.callModalView__confidentiality {
    padding-left: 0;
    width: unset;
}

.callModalView__confidentiality .confidentiality__text {
    width: 230px;
}

@media all and (max-width: 600px) {
    .callModalView__btn {
        width: 100%;
    }

    .callModalView__confidentiality {
        display: none;
    }

    .callModalView__header {
        padding-left: 36px;
        font-weight: normal;
        margin: 11px 0 0;
        line-height: 48px;
    }
}
