.additionalItems__header {
    font-size: 36px;
    line-height: 1.25;
    margin: 39px 0 15px;
    font-family: "Proxima Nova Bold", Arial, sans-serif;
}

.additionalItems__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
