
body {
  margin: 0;
  font-family: "Proxima Nova Regular", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


.link {
  color: #5887BB;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  color: #4953AD;
}

.link_color_inherit {
  color: inherit;
}
