.verticalBanner {
    width: 245px;
    height: 304px;
    position: relative;
    color: white;
    text-decoration: none;
}

.verticalBanner_tall {
    height: 473px;
    width: 270px;
}

@media all and (max-width: 1100px) {
    .verticalBanner_tall {
        width: 213px;
        background-size: cover;
        background-position: center;
    }

}
